name: CI - Backend & Frontend

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          

      - name: Install backend dependencies
        working-directory: backend
        run: npm install

      - name: Run backend lint
        working-directory: backend
        run: npm run lint

      - name: Backend type-check (if TS)
        working-directory: backend
        run: npm run type-check
        continue-on-error: true  # remove if you want strict failure

      - name: Run backend tests
        working-directory: backend
        run: npm test

      ########################################
      # Frontend
      ########################################
      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      - name: Run frontend lint
        working-directory: frontend
        run: npm run lint

      - name: Frontend type-check (if TS)
        working-directory: frontend
        run: npm run type-check
        continue-on-error: true

      - name: Run frontend tests
        working-directory: frontend
        run: npm test --watchAll=false

  
        