name: CI - Backend & Frontend

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          run: npm install
        